<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9dace">  <td>20/10/06 13:27:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunnerScript.automationScenario()[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@7f13d6e]">automationScenario</td> 
  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>20/10/06 13:28:56</td>   <td>64486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RunnerScript.automationScenario()[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@76f2b07d]">automationScenario</td> 
  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/10/06 13:27:33</td>   <td>-18482</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.browserLaunching(java.lang.String)[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@7f13d6e]">&gt;&gt;browserLaunching</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/10/06 13:28:41</td>   <td>49861</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.browserLaunching(java.lang.String)[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@76f2b07d]">&gt;&gt;browserLaunching</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>20/10/06 13:27:51</td>   <td>-158</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunnerScript.initObjects()[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@7f13d6e]">&gt;&gt;initObjects</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>20/10/06 13:28:56</td>   <td>64479</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;RunnerScript.initObjects()[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@76f2b07d]">&gt;&gt;initObjects</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/10/06 13:28:40</td>   <td>48914</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@7f13d6e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>20/10/06 13:29:54</td>   <td>122680</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.automationPractice.DriverScript.RunnerScript@76f2b07d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592688102</td>   <td></td> </tr>
</table>
